#exampleModal
{
    & h3
    {
        text-align  : center;
        padding: 20px 0 0;
    }

    & .form-group {
        padding: 5px 0;
    }

    & .input-group-prepend
    {
        width: 40px;
        height: 40px;

        & .input-group-text {
            padding : 0.7rem 0.75rem;
        }
    }
}

#cartModal
{
    --bs-modal-width : 700px;
    z-index: 999;
    & .modal-dialog-custom
    {
        margin : 0 auto;
    }

}
.modal-backdrop
    {
        --bs-backdrop-zindex : 1;

    }