button.btnCart
{
    position: relative;
    &::before
    {
        content: attr(data-quantity);
        color: #fff;
        font-size: 12px;
        width: 20px;
        height: 20px;
        padding: 2px;
        right:  0;
        top: -5px;
        background-color: red;
        border-radius: 50%;
        position:absolute;

    }
}
button.btn-changeQuantity
{
    border: solid 1px #ccc;
    border-radius: 50%;
    color: black;
    padding: 0 7px;
}
